In [1]:
#1 Clear 
# To Clear all the element from the string
#1.1 All numbers are removed from the list 'num'
num=[1,2,3,100,200,300]
num

[1, 2, 3, 100, 200, 300]

In [3]:
num.clear()
num

[]

In [5]:
#1.2 All languages are removed from the list 'lang'
lang=["Python","Java","C","R"]
lang

['Python', 'Java', 'C', 'R']

In [7]:
lang.clear()
lang

[]

In [26]:
#2 Count
# Returns the no of time perticular value is repeated in the list
#2.1 List of numbers
lis1=[1,2,3,4,5,1,1,1,2,3,3,3,3]
lis1.count(1) # Value '1' is repeted 4 times in the list

4

In [27]:
lis1.count(3) # Value '3' is repeted 5 times in the list

5

In [28]:
lis1.count(4) # Value '4' is repeted 1 time in the list

1

In [29]:
lis1.count(6) # Value '6' is repeted 0 times in the list

0

In [31]:
#2.2 List of vehicle brand
brand=["Tata","Suzuki","Honda","Hero","Tata","MG","Hero","Toyota","Hero"]
brand.count("Hero") # Hero is repeated 3 Times in list

3

In [32]:
brand.count("Tata") # Tata is repeated 2 Times in list

2

In [33]:
brand.count("Kia") # Kia is repeated 0 Times in list

0

In [41]:
#3 Index
#Returns the position at the first occurrence of the specified value
#3.1
brand1=["Tata","Suzuki","Honda","Hero","Tata","MG","Hero","Toyota","Hero"]
brand1.index("Hero") # Hero is present at multiple position but returns the position at the first occurrence i.e 3rd position

3

In [40]:
brand1.index("Toyota") # Toyota is present at the 7th position

7

In [42]:
#3.2
lis3=[1,2,3,4,5,1,1,1,2,3,3,3,3]
lis3.index(2) # 2 is present at multiple position but returns the position at the first occurrence i.e 1st position

1

In [43]:
lis3.index(1) # 1 is present at multiple position but returns the position at the first occurrence i.e 0th position

0

In [44]:
lis3.index(4) # 4 is present at multiple position but returns the position at the first occurrence i.e 3rd position

3

In [50]:
#4 Remove
# To remove specified value at the first occurance
#4.1
brand4=["Tata","Suzuki","Honda","Hero","Tata","MG","Hero","Toyota","Hero"]
brand4.remove("MG") # MG is removed from the list
brand4

['Tata', 'Suzuki', 'Honda', 'Hero', 'Tata', 'Hero', 'Toyota', 'Hero']

In [51]:
brand4.remove("Hero") # Hero is present 3 times but only first occurance will be removed
brand4

['Tata', 'Suzuki', 'Honda', 'Tata', 'Hero', 'Toyota', 'Hero']

In [56]:
#4.2
lis4=[1,2,3,4,5,1,3] # 2 is removed from the list
lis4.remove(2)
lis4

[1, 3, 4, 5, 1, 3]

In [59]:
lis42=[1,2,3,4,5,1,3]
lis42.remove(1) # 1 is present 2 times but only first occurance wil be removed
lis42

[2, 3, 4, 5, 1, 3]

In [61]:
#5. Reverse
# To reverse the order of the list
#5.1
brand5=["Tata","Suzuki","Honda","Hero","MG"]
brand5.reverse()
brand5

['MG', 'Hero', 'Honda', 'Suzuki', 'Tata']

In [62]:
#5.2
lis5=[1,2,3,4,5,6]
lis5.reverse()
lis5

[6, 5, 4, 3, 2, 1]

In [64]:
#6 Sort 
# 6.1Method to sorts the list in ascending way
#6.11
brand6=["Tata","Suzuki","Honda","Hero","MG"]
brand6.sort() # To sort the list alphabetically (A to Z)
brand6

['Hero', 'Honda', 'MG', 'Suzuki', 'Tata']

In [67]:
#6.12
lis6=[3,1,4,7,9,2]
lis6.sort() # To sort the list numerically (Ascending)
lis6

[1, 2, 3, 4, 7, 9]

In [69]:
#6.2
#6.21
lis62=[3,1,4,7,9,2]
lis62.sort(reverse=True)# To sort the list numerically (descending)
lis62

[9, 7, 4, 3, 2, 1]

In [73]:
#6.22
brand62=["Tata","Suzuki","Honda","Hero","MG"]
brand62.sort(reverse=True) # To sort the list alphabetically (Z to A)
brand62

['Tata', 'Suzuki', 'MG', 'Honda', 'Hero']